@import '../../styles/globals/breakpoints';

$horizontal-padding : 6rem;

.hero {
	height: calc(100vh - var(--navbar-height));
	padding: 0 $horizontal-padding;
	display: grid;
	grid-template:
		"a c"
		"b c";
	grid-template-columns: 1.15fr 0.85fr;
	grid-template-rows: 1.15fr 0.85fr;
	column-gap: 6rem;

	&--header {
		grid-area: a;
		place-self: end;

		&_text {
			width: 70%;
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
	}

	&--label {
		grid-area: b;
		place-self: center end;
		text-align: right;
	}

	&--img {
		grid-area: c;
		width: 110%;
		height: auto;
		place-self: end end;
	}
}

.stats {
	padding: $horizontal-padding;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);

	&>ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		&>li {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&>div {
				display: flex;
				flex-direction: row;
				gap: 1rem;
				line-height: 1;
			}
		}
	}
}

.intro {
	padding: $horizontal-padding;
	display: grid;
	grid-template:
		"a ."
		". b";
	gap: 6rem;

	&>h2 {
		grid-area: a;
		place-self: center;
	}

	&>p {
		grid-area: b;
		place-self: center;
		text-align: justify;
		text-justify: inter-word;
	}
}

.expertise {
	padding: $horizontal-padding;

	&--header {
		width: 60%;
	}

	&--list {
		display: grid;
		grid-template:
			'no	category	.'
			'.	tags		desc';
		grid-template-columns: auto 1fr 1fr;
		grid-template-rows: auto;
		column-gap: 3rem;
		row-gap: 1rem;
		padding: 3rem;
		border-top: 1px solid rgba(0, 0, 0, 0.2);

		&_no {
			grid-area: no;
		}

		&_category {
			grid-area: category;
		}

		&_tags {
			grid-area: tags;

			li {
				display: inline-block;
				margin: 0 1rem 1rem 0;
				
				a {
					display: inline-block;
					padding: 0.5rem 1rem;
					border-radius: 999px;
					border: 1px solid var(--rgb-black);
				}
			}
		}

		&_desc {
			grid-area: desc;
			display: flex;
			flex-direction: column;
			gap: 6rem;

			a {
				width: max-content;
				align-self: self-end;
			}
		}
	}
}

.team {
	padding: $horizontal-padding;

	&--header {
		width: 60%;
	}
}