@use './mixins';
@use '../globals/breakpoints' as bp;

.about {
	&>header {
		@include mixins.section;
	}

	&>section {
		@include mixins.section;
		display: grid;

		&>h2{
			grid-area: T;
			margin: 0;
		}

		&>p {
			grid-area: C;
			width: 100%;
			opacity: 0.8;
		}

		.section_image {
			grid-area: I;
			align-self: center;
			display: flex;
			align-items: center;
			justify-content: center;
			
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		@media screen and (max-width: bp.$screenxl) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			&>h2 {
				align-self: center !important;
			}
		}
	}
}