@use './mixins';
@use '../globals/breakpoints' as bp;

.about {
	&>header {
		@include mixins.section;
	}

	&>section {
		@include mixins.section;
		display: grid;

		&>h2{
			grid-area: T;
			margin: 0;
		}

		&>p {
			grid-area: C;
			width: 100%;
			opacity: 0.8;
		}

		.section_image {
			grid-area: I;
			align-self: center;
			display: flex;
			align-items: center;
			justify-content: center;
			
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		@media screen and (max-width: bp.$screenxl) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&--principles {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4vw;

		&_header {
			position: sticky;
			position: -webkit-sticky;
			top: calc(var(--navbar-height) + 8vw);
			height: 12vw;
			width: 100%;
			height: calc(100vh - var(--navbar-height) - 12vw);
		}

		&>ul>li {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			position: relative;
			align-content: center;
			height: calc(100vh - var(--navbar-height) - 12vw);

			.text--long {
				margin-top: 1rem;
				margin-bottom: 4rem;
			}
		}

		@media screen and (max-width: bp.$screenxl) {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;

			&_header {
				position: relative;
				top: auto;
				height: fit-content;
			}

			&>ul>li {
				height: fit-content;
			}
		}
	}
}