@use '../globals/breakpoints' as bp;

$widthUnit: 8vw;

:root {
	--section-h-padding-reg: 12vw;
	--section-h-padding-xxl: 24vw;
	--section-h-padding-sm: 8vw;
}

@mixin navbarPadding() {
	padding: 0 12vw;

	@media screen and (max-width: bp.$screensm) {
		padding: 0 8vw;
	}
}

@mixin section() {
	padding: 8vw 12vw;
	border-top: 1px solid rgba(0, 0, 0, 0.2);

	@media screen and (min-width: bp.$screenxxl) {
		padding: 4vw 20vw;
	}

	@media screen and (max-width: bp.$screensm) {
		padding: 8vw;
	}
}

@mixin content() {
	padding-left: 18vw;
	padding-right: 18vw;

	&>div {

		h1,
		h2,
		h3,
		h4 {
			margin-top: 2.4rem;
			margin-bottom: 0.4rem;
		}

		p {
			line-height: 1.7;
			margin-bottom: 1rem;
			text-align: justify;
		}

		a {
			color: var(--rgb-blue) !important;
			text-decoration: underline !important;
			cursor: auto;
		}

		ul {
			margin: 1.6rem;
			list-style-type: disc;

			li {
				line-height: 1.5;
				margin-bottom: 0.5rem;

				&::marker {
					font-size: 1.2em;
					color: var(--rgb-blue);
				}
			}
		}

	}

	@media screen and (max-width: bp.$screenlg) {
		padding-left: 12vw;
		padding-right: 12vw;
	}

	@media screen and (max-width: bp.$screensm) {
		padding: 8vw;
	}
}

@mixin contentImage() {
	margin: 2vw 18vw;

	@media screen and (max-width: bp.$screenlg) {
		margin: 2vw 12vw;
	}

	@media screen and (max-width: bp.$screensm) {
		margin: 8vw;
	}
}

@mixin header() {
	width: 60%;
	margin-bottom: 5rem;

	@media screen and (max-width: bp.$screenxl) {
		width: 100%;
		margin-bottom: 3rem;
	}
}

@mixin underlineEffect() {
	position: relative;

	//underline on hover microanimation
	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -3px;
		width: 0;
		height: 1.5px;
		border-radius: 1px;
		background-color: var(--rgb-black);
		transition: width 0.3s ease-in-out;
	}

	&:hover::before {
		width: 100%;
	}
}