@use './mixins';
@use '../globals/breakpoints' as bp;

.team {
	@include mixins.section;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&--header {
		@include mixins.header;
	}

	&--body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: calc(100vw - 16vw);
	}

	&--list {
		margin: 2rem;

		&_image {
			aspect-ratio: 1/1;
			width: 100%;
			border: 1px solid var(--rgb-black);
			margin-bottom: 1rem;
			//flex to match aspect ratio;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&_member-image-skeleton {
			aspect-ratio: 1/1;
			margin-bottom: 1rem;
		}
	}

	@media screen and (max-width: bp.$screenlg) {
		&--body {
			grid-template-columns: repeat(2, 1fr);
			grid-template-columns: repeat(auto, 1fr);
		}
	}

	@media screen and (max-width: bp.$screenmd) {
		&--body {
			display: flex;
			flex-direction: column;
		}
	}
}