@use './mixins';
@use '../globals/breakpoints' as bp;

.team {
	@include mixins.section;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&--body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		//for skeletons sizing correctly
		width: calc(100vw - (var(--section-h-padding-reg)*2));

		@media screen and (min-width: bp.$screenxxl) {
			grid-template-columns: repeat(4, 1fr);
			width: calc(100vw - (var(--section-h-padding-xxl)*2));
		}

		@media screen and (max-width: bp.$screenlg) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (max-width: bp.$screensm) {
			display: flex;
			flex-direction: column;
			width: calc(100vw - (var(--section-h-padding-sm)*2));
		}
	}

	&--list {
		margin: 2rem;

		&_image {
			aspect-ratio: 1/1;
			width: 100%;
			border: 1px solid var(--rgb-black);
			//flex to match aspect ratio;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		// &_member-image-skeleton {
		// 	aspect-ratio: 1/1;
		// 	margin-bottom: 1rem;
		// }

		@media screen and (max-width: bp.$screensm) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: "a b";
			column-gap: 1rem;
			margin: 1rem 0;

			&_image {
				grid-area: a;
			}

			&_detail {
				grid-area: b;
				align-self: center;
				text-align: left;
			}
		}
	}
}