:root {
	--navbar-height: 96px;
}

$white: var(--rgb-white);
$black: var(--rgb-black);
$grey: var(--rgb-grey);
$navbar-height: var(--navbar-height);
$navbar-padding: 1rem 8vw;

main {
	margin-top: $navbar-height;
}

.navbar {
	padding: $navbar-padding;
	height: $navbar-height;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(var(--raw-white), 0.8);
	backdrop-filter: blur(5px);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-list,
.nav-list-expanded {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
}


.nav-link {
	display: inline-block;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -3px;
		width: 0;
		height: 1.5px;
		background-color: $black;
		transition: width 0.3s ease-in-out;
	}

	&:hover::before {
		width: 100%;
	}
}

.nav-link-active {
	color: var(--rgb-blue);

	&::before {
		width: 100%;
		background-color: var(--rgb-blue);
	}
}

#nav-btn {
	display: none;
}

@media screen and (max-width: 768px) {
	#nav-btn {
		display: block;
	}

	.nav-menu {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		width: 100vw;
		background-color: $white;

		// to keep position of menu btn same
		height: $navbar-height;
		padding: $navbar-padding;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.nav-list {
		display: none;
		width: 0%;
		height: 0%;

		&-expanded {
			position: absolute;
			right: 0;
			left: 0;
			top: $navbar-height;
			height: calc(100vh - $navbar-height);
			width: 100vw;
			background-color: $white;
			display: flex;
			flex-direction: column;
			gap: 3rem;
			padding-top: 2rem;
		}
	}
}