@use '../pages/mixins';

.breadcrumb {
	@include mixins.navbarPadding;
	height: 3rem;
	position: sticky;
	top: var(--navbar-height);
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgba(var(--raw-white), 0.8);
	backdrop-filter: blur(5px);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	gap: 0.3rem;
	overflow: hidden;
	
	&>li {
		white-space: nowrap;
		overflow: hidden;
		
		&:last-child>a {
			opacity: 0.5;
			text-overflow: ellipsis;
		}

		&:not(:last-child)>a {
			@include mixins.underlineEffect;
		}

	}
}