@use '../globals/breakpoints' as bp;

$padding : 8vw;

footer {
	background-color: var(--rgb-black);
	background-image: url('../../../public/assets/ty-signature-invert.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10vw;
	color: var(--rgb-white);
	padding: $padding;
	display: flex;
	flex-direction: column;
	gap: $padding;

	@media screen and (max-width: bp.$screenxl) {
		background-size: 24vw;
		padding-bottom: 24vw;
	}
}

.cta {
	display: flex;
	flex-direction: column;
	margin: $padding 0;

	&>h1 {
		margin: 0;

		&>u>a {
			color: var(--rgb-white) !important;
		}
	}

	&>p {
		opacity: 0.7;

		svg {
			height: 1.2rem;
		}
	}
}

.disclaimer {
	&>a {
		color: var(--rgb-white) !important;
	}
}

.findUs {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	gap: $padding;

	h4 {
		font-weight: 400 !important;
		font-style: normal !important;
	}

	&>div {
		p {
			opacity: 0.7;
			margin-bottom: 3rem;

			@media screen and (max-width: bp.$screenxl) {
				margin-bottom: 1rem;
			}
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			li {
				display: inline-flex;
				align-items: center;
				gap: 1rem;

				h4 {
					cursor: pointer;
				}

				svg {
					width: 0;
					transition: width 5s ease-in;
				}

				#activeOffice {
					width: fit-content;
				}
			}
		}
	}

	@media screen and (max-width: bp.$screenxl) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	@media screen and (max-width: bp.$screenmd) {
		display: flex;
		flex-direction: column;
	}
}