@use '../globals/breakpoints' as bp;
@use '../pages/mixins';

:root {
	--navbar-height: 5rem;
}

$white: var(--rgb-white);
$black: var(--rgb-black);
$navbar-height: var(--navbar-height);
$navbar-padding: 0 12vw;

main {
	margin-top: $navbar-height;
}

.navbar {
	@include mixins.navbarPadding;
	height: $navbar-height;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(var(--raw-white), 0.8);
	backdrop-filter: blur(5px);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#expandedLogo {
	@media screen and (min-width: bp.$screenmd) {
		display: none;
	}
}

.nav-list,
.nav-list-expanded {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
}

.logo {
	height: 3.5rem;
	width: auto;

	&>a>img {
		height: 100%;
		width: auto;
	}
}

.nav-link {
	display: inline-block;
	@include mixins.underlineEffect;
}

.nav-link-active {
	color: var(--rgb-blue);

	&::before {
		width: 100%;
		background-color: var(--rgb-blue);
	}
}

#nav-btn {
	display: none;
}

@media screen and (max-width: bp.$screenmd) {
	#nav-btn {
		display: block;
		border: none;
		background-color: none;
		color: $black;

		&>svg {
			color: $black;
		}
	}

	.nav-menu {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		width: 100vw;
		background-color: $white;

		// to keep position of menu btn same
		height: $navbar-height;
		padding: $navbar-padding;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.nav-list {
		display: none;
		width: 0%;
		height: 0%;

		&-expanded {
			position: absolute;
			right: 0;
			left: 0;
			top: $navbar-height;
			height: calc(100vh - $navbar-height);
			width: 100vw;
			background-color: $white;
			display: flex;
			flex-direction: column;
			gap: 3rem;
			padding-top: 2rem;
		}
	}
}