@use './breakpoints';

@mixin fluid-type($font-min, $font-max) {
	// Min value
	font-size: #{$font-min}px;

	// Preferred value between the minimum and maximum bound
	@media only screen and (min-width:  breakpoints.$screensm) {
		font-size: calc(#{$font-min}px + #{($font-max - $font-min)} * (100vw -  breakpoints.$screensm) / (992 - 576));
	}

	// Max value
	@media only screen and (min-width:  breakpoints.$screenlg) {
		font-size: #{$font-max}px;
	}
}

h1, h2, h3, h4, p {
	margin: 0;
	line-height: 1.2;
}

h1, .text--2xl {
    @include fluid-type(36, 56);
	margin-bottom: 2rem;
}

h2, .text--xl {
    @include fluid-type(28, 36);
}

h3, .text--lg {
    @include fluid-type(24, 28);
	color: var(--rgb-blue);
}

h4, .text--md {
    @include fluid-type(20, 24);
}

html, body, p, .text--sm {
    @include fluid-type(14, 16);
}

.text--xs, small {
    @include fluid-type(12, 14);
}

.text--long {
	line-height: 1.7;
}

a {
	text-decoration: none;
	color: var(--rgb-black);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}