@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 1000px) {
  html {
    font-size: calc(12px + 0.4vw);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--rgb-white);
  color: var(--rgb-black);
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  line-height: 1.2;
}

h1, .text--2xl {
  font-size: 36px;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 576px) {
  h1, .text--2xl {
    font-size: calc(36px + 20 * (100vw - 576px) / (992 - 576));
  }
}
@media only screen and (min-width: 992px) {
  h1, .text--2xl {
    font-size: 56px;
  }
}

h2, .text--xl {
  font-size: 28px;
}
@media only screen and (min-width: 576px) {
  h2, .text--xl {
    font-size: calc(28px + 8 * (100vw - 576px) / (992 - 576));
  }
}
@media only screen and (min-width: 992px) {
  h2, .text--xl {
    font-size: 36px;
  }
}

h3, .text--lg {
  font-size: 24px;
}
@media only screen and (min-width: 576px) {
  h3, .text--lg {
    font-size: calc(24px + 4 * (100vw - 576px) / (992 - 576));
  }
}
@media only screen and (min-width: 992px) {
  h3, .text--lg {
    font-size: 28px;
  }
}

h4, .text--md {
  font-size: 20px;
}
@media only screen and (min-width: 576px) {
  h4, .text--md {
    font-size: calc(20px + 4 * (100vw - 576px) / (992 - 576));
  }
}
@media only screen and (min-width: 992px) {
  h4, .text--md {
    font-size: 24px;
  }
}

html, body, p, .text--sm {
  font-size: 14px;
}
@media only screen and (min-width: 576px) {
  html, body, p, .text--sm {
    font-size: calc(14px + 2 * (100vw - 576px) / (992 - 576));
  }
}
@media only screen and (min-width: 992px) {
  html, body, p, .text--sm {
    font-size: 16px;
  }
}

.text--xs, small {
  font-size: 12px;
}
@media only screen and (min-width: 576px) {
  .text--xs, small {
    font-size: calc(12px + 2 * (100vw - 576px) / (992 - 576));
  }
}
@media only screen and (min-width: 992px) {
  .text--xs, small {
    font-size: 14px;
  }
}

.text--long {
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:root {
  --raw-white: 240, 241, 243;
  --raw-black: 15, 20, 26;
  --raw-grey: 236, 236, 236;
  --rgb-white: rgba(var(--raw-white),1);
  --rgb-black: rgba(var(--raw-black),1);
  --rgb-grey: rgba(var(--raw-grey),1);
}

.hide-content {
  display: none;
}

.display-content {
  display: block;
}

.splash {
  z-index: 999;
  background-color: var(--rgb-white);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  animation: shrinkToNavbarHeight 2s 13s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.splash--text {
  position: absolute;
}
.splash--text:nth-of-type(1) {
  animation-name: fadeInOut;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-duration: 4s;
}
.splash--text:nth-of-type(2) {
  animation-name: fadeInOut;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 4s;
  animation-duration: 4s;
}
.splash--text:nth-of-type(3) {
  animation-name: fadeInOut;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 8s;
  animation-duration: 4s;
}
.splash--text:nth-of-type(4) {
  transform: translateX(0);
  animation: fadeInOut 4s 12s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shrinkToNavbarHeight {
  from {
    height: 100vh;
  }
  to {
    height: var(--navbar-height);
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.2rem 1.6rem;
  cursor: pointer;
  line-height: 1;
  overflow: hidden;
  text-transform: uppercase;
}
.btn-primary {
  background-color: var(--rgb-black);
  border: 2px solid var(--rgb-black);
  color: var(--rgb-white);
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.btn-primary:hover {
  background-color: var(--rgb-white);
  color: var(--rgb-black);
  box-shadow: 0px 2px 10px rgba(var(--raw-black), 0.2);
}

:root {
  --navbar-height: 96px;
}

main {
  margin-top: var(--navbar-height);
}

.navbar {
  padding: 1rem 8vw;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(var(--raw-white), 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-list,
.nav-list-expanded {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.nav-list li > a,
.nav-list-expanded li > a {
  display: inline-block;
  position: relative;
}
.nav-list li > a::before,
.nav-list-expanded li > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: var(--rgb-black);
  transition: width 0.3s ease-in-out;
}
.nav-list li > a:hover::before,
.nav-list-expanded li > a:hover::before {
  width: 100%;
}

#nav-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  #nav-btn {
    display: block;
  }
  .nav-menu {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: var(--rgb-white);
    height: var(--navbar-height);
    padding: 1rem 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .nav-list {
    display: none;
    width: 0%;
    height: 0%;
  }
  .nav-list-expanded {
    position: absolute;
    right: 0;
    left: 0;
    top: var(--navbar-height);
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    background-color: var(--rgb-white);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 2rem;
  }
}
footer {
  background-color: var(--rgb-black);
  color: var(--rgb-white);
  padding: 8vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 8vw;
}
footer h4 {
  font-weight: 400 !important;
  font-style: normal !important;
}
footer > div p {
  opacity: 0.7;
  margin-bottom: 3rem;
}
@media screen and (max-width: 1200px) {
  footer > div p {
    margin-bottom: 1rem;
  }
}
footer > div ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer > div ul li {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
footer > div ul li h4 {
  cursor: pointer;
}
footer > div ul li svg {
  width: 0;
  transition: width 5s ease-in;
}
footer > div ul li #activeOffice {
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1200px) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}

.hero {
  padding: 8vw;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: calc(100vh - var(--navbar-height));
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  display: grid;
  grid-template: "a c" "b c";
  grid-template-columns: 1.15fr 0.85fr;
  grid-template-rows: max-content auto;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  overflow-x: clip;
  overflow-y: clip;
}
.hero--header {
  grid-area: a;
  place-self: end;
}
.hero--header_text {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero--label {
  grid-area: b;
  place-self: center end;
  text-align: right;
}
.hero--img {
  grid-area: c;
  min-width: 100%;
  max-width: 120%;
  aspect-ratio: 1;
  height: auto;
  place-self: end center;
}
@media screen and (max-width: 1200px) {
  .hero {
    height: auto;
    grid-template: "a a" "b c";
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .hero--header {
    margin-top: 8vw;
  }
  .hero--label {
    grid-area: b;
    place-self: center start;
    text-align: left;
  }
  .hero--img {
    grid-area: c;
    width: 150%;
    height: auto;
  }
}

.stats {
  padding: 8vw;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.stats > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.stats > ul > li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.stats > ul > li > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  line-height: 1;
}
.stats > ul > li > div > h1 {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 922px) {
  .stats > ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 3rem;
  }
}

.intro {
  padding: 8vw;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template: "a ." "b b" ". c";
  gap: 4vw;
}
.intro > h2 {
  grid-area: a;
  width: 40vw;
  text-align: justify;
}
.intro > img {
  grid-area: b;
  width: 100%;
}
.intro > p {
  grid-area: c;
  width: 40vw;
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 992px) {
  .intro {
    display: flex;
    flex-direction: column;
  }
  .intro > h2,
  .intro p {
    width: 100%;
  }
}

.awards {
  padding: 8vw;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.awards--body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.awards--list img {
  width: calc(80px + 1vw);
}

.team {
  padding: 8vw;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.team--header {
  width: 60%;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1200px) {
  .team--header {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.team--body {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(22vw, 1fr));
  gap: 3rem;
  margin-bottom: 5rem;
}
.team--list img {
  width: 100%;
  border: 1px solid var(--rgb-black);
  margin-bottom: 1rem;
}
@media screen and (max-width: 992px) {
  .team--body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
  }
  .team--list img {
    width: 70%;
  }
}

.practicearea {
  padding: 8vw;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template: "a ." ". b" ". c";
  gap: 4vw;
}
.practicearea--header {
  grid-area: a;
  display: flex;
  width: 40vw;
}
.practicearea--list {
  grid-area: b;
  width: 40vw;
}
.practicearea--list > svg {
  flex-shrink: 0;
}
.practicearea--list h4 {
  font-weight: 400 !important;
  font-style: normal !important;
}
.practicearea--item {
  padding: 1rem;
  transition: padding 0.2s ease-in;
}
.practicearea--item:hover {
  padding-left: 3rem;
}
.practicearea--item a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.practicearea--item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1.5px;
  border-radius: 1px;
  background-color: var(--rgb-black);
  transition: width 0.3s ease-in-out;
}
.practicearea--item a:hover::before {
  width: 100%;
}
.practicearea > a {
  grid-area: c;
}
@media screen and (max-width: 992px) {
  .practicearea {
    display: flex;
    flex-direction: column;
  }
  .practicearea--header, .practicearea--list {
    width: 100%;
  }
}

.expertiseDetails {
  padding: 8vw;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.expertiseDetails--header_backLink {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.expertiseDetails--header h1 {
  margin-top: 16px;
}
.expertiseDetails--body {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  -moz-column-gap: 10vw;
       column-gap: 10vw;
}
.expertiseDetails--body_article ul {
  padding: 24px;
  list-style-type: disc;
}
.expertiseDetails--body_article li {
  margin-bottom: 10px;
}
.expertiseDetails--body_article a {
  color: aqua;
  text-decoration: underline;
}
.expertiseDetails--body_article p {
  padding: 16px 0;
  line-height: 1.5;
  text-align: justify;
}
.expertiseDetails--body_article p:empty {
  display: none;
}
.expertiseDetails--body_article h1,
.expertiseDetails--body_article h2,
.expertiseDetails--body_article h3,
.expertiseDetails--body_article h4 {
  margin-top: 16px;
}
.expertiseDetails--body_sidebar_wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  gap: 1rem;
  border-radius: 20px;
  background-color: white;
}
.expertiseDetails--body_sidebar_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.expertiseDetails--body_sidebar_header :first-child {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.expertiseDetails--body_sidebar_header :first-child h5 {
  margin: 0;
}
.expertiseDetails--body_info_content {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 16px;
}
.expertiseDetails--body_info_content :nth-child(2) {
  place-self: center start;
}
.expertiseDetails--body_info_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid;
}
.expertiseDetails--body_info_contact li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.expertiseDetails--body_info_contact li :first-child {
  height: 16px;
  width: 16px;
  opacity: 70%;
}
.expertiseDetails--body_info_contact li a {
  color: #2e63eb;
}
@media screen and (max-width: 992px) {
  .expertiseDetails--body {
    display: flex;
    flex-direction: column;
  }
}

.expertise {
  padding: 8vw;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.expertise--header {
  width: 60%;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1200px) {
  .expertise--header {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.expertise--list {
  display: grid;
  grid-template: "no	category	." ".	tags		desc";
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 1rem;
  padding: 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.expertise--list_no {
  grid-area: no;
}
.expertise--list_category {
  grid-area: category;
}
.expertise--list_tags {
  grid-area: tags;
}
.expertise--list_tags_skeleton {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 999px !important;
}
.expertise--list_tags li {
  display: inline-block;
  margin: 0 1rem 1rem 0;
}
.expertise--list_tags li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: 1px solid var(--rgb-black);
}
.expertise--list_desc {
  grid-area: desc;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.expertise--list_desc :last-child {
  width: -moz-max-content;
  width: max-content;
  align-self: self-end;
}
@media screen and (max-width: 1200px) {
  .expertise--list {
    grid-template: "no	category" ".	tags" ". desc";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
  .expertise--list_desc > p {
    display: none;
  }
}
@media screen and (max-width: 922px) {
  .expertise--list {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 1rem;
    padding: 3rem 1rem;
  }
}/*# sourceMappingURL=styles.css.map */